<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>souti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDFD5E491CA3DA6D00DBA0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDFD5E621CA3DA6D00DBA0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDFD5E6D1CA3DA6D00DBA0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
